<div class="page-header">
    <h1>Lobby</h1>
</div>

<form data-role="form">
    <div class="form-group">
        <label>
            Room
            <input type="text"
                   class="form-control"
                   data-ng-model="room"
                   placeholder="Enter name"/>
        </label>
    </div>
    <div class="form-group">
        <label>
            Name
            <input type="text"
                   class="form-control"
                   data-ng-model="name"
                   placeholder="Enter name"/>
        </label>
    </div>

    <button type="button"
            class="btn btn-primary"
            data-ng-click="joinRoom()">Join
    </button>
</form>