<div class="page-header">
    <h1>Lobby</h1>
</div>

<form data-role="form">
    <div class="form-group">
        <label>
            Username
            <input type="text"
                   class="form-control"
                   data-ng-model="username"
                   placeholder="Enter name"/>
        </label>
    </div>

    <button type="button"
            class="btn btn-primary"
            data-ng-click="register()">
        Register
    </button>

    <button type="button"
            class="btn btn-primary"
            data-ng-click="createRoom()">
        Create Room
    </button>
</form>
