<div class="modal-header">
    <h4 class="modal-title">Register</h4>
</div>
<form data-role="form" class="form-horizontal">
    <div class="modal-body">
        What would you like to be called?
        <div class="row">
            <div class="form-group col-sm-5">
                <label for="username">Username</label>

                <input id="username"
                       data-ng-model="username"
                       class="form-control col-sm-1"
                       type="text"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="register()">Register</button>
    </div>
</form>
